<div class="tools">
  <form action="/inventories/<%= @inventory.name %>" method="get" class="sort">
      <label>Sort inventory: </label>
      <select name="attribute">
        <option value="depth" <%= 'selected' if @attribute == "depth" %>>Depth</option>
        <option value="tone" <%= 'selected' if @attribute == "tone" %>>Tone</option>
      </select>
      <select name="order">
        <option value="ascending" <%= 'selected' if @order == "ascending" %>>Low to High</option>
        <option value="descending" <%= 'selected' if @order == "descending" %>>High to Low</option>
      </select>
      <input type="submit" value="Sort">
  </form>

  <div class="new-items">
    <label for="add-item">Received new product?</label>
    <a href="/inventories/<%= @inventory.name %>/add" id="add-item">Add items here!</a>
  </div>

  <div class="new-line">
    <a href="/inventories/<%= @inventory.name %>/new-line">Add a new color line</a>
  </div>
</div>

<% if @lines.empty? %>
  <p>You don't have any color lines yet. To create a new line, select "Add a new color line" in the tool bar.</p>
<% else %>
  <% @lines.each do |line| %>
    <div class="inv-table">
      <h2 class="inv-table"><%= line %></h2>
      <% if @colors.empty? %> <%# @colors.none? { |color| color.line == line } %>
        <p>You don't have any colors in this inventory yet. To import new product, select "Add items here!" in the tool bar.</p>
      <% else %>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Depth/Tone</th>
              <th>Line</th>
              <th>Count</th>
            </tr>
            <tr class="sort-indicator">
              <td></td>
              <td><%= @indicator %></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          
          <tbody>
            <% @colors.each do |color| %>
              <% if color.line == line %>
                <tr>
                  <td>
                    <form action="/inventories/<%= @inventory.name %>/use" method="post">
                      <button type="submit" name="color" value="<%= color.to_s %>">Use One</button>
                    </form>
                  </td>
                  <td><%= "#{color.depth}/#{color.tone}" %></td>
                  <td><%= color.line %></td>
                  <td><%= color.count %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>

<br>
<br>
<fieldset>
<div class="error-flash">
  <% if session[:invalid_color] %>
    <span class="error-flash"><%= session.delete(:invalid_color) %></span>
  <% end %>
</div>

<form action="/inventories/<%= @inventory.name %>/add" method="post" class="new-item">
  <label>
    Depth/Tone:
    <input type="number" name="depth" min="1" max="11" required>
    /
    <input type="number" name="tone" min="0" max="99" required>
  </label>

  <label>
    Color line
    <select name="line">
      <% @lines.each do |line| %>
        <option><%= line %></option>
      <% end %>
    </select>
  </label>

  <label>
    Count
    <input type="number" name="count" value="1" min="1">
  </label>

  <input type="submit" value="Add Item">
</form>
<form action="/inventories/<%= @inventory.name %>" method="get">
  <input type="submit" value="Done Adding Items">
</form>
</fieldset>